<header class="header">
  <button class="header__btn header__btn--menu">☰</button>

  <h1 class="header__logo">
    <a href="index.html">Grind Hero Wiki</a>
  </h1>

  <div class="global-search">
    <input type="text" id="globalSearchInput" placeholder="Buscar na Wiki..." autocomplete="off"/>
    <div id="globalSearchResults" class="search-results"></div>
  </div>

  <nav class="drawer">
    <ul class="drawer__menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="lista.html?type=class">Classes</a></li>
      <li><a href="lista.html?type=item">Equipamentos</a></li>
      <li><a href="lista.html?type=monster">Monstros</a></li>
      <li><a href="lista.html?type=map">Mapas</a></li>
      <li><a href="lista.html?type=system">Sistemas</a></li>
      <li><a href="lista.html?type=guide">Guias</a></li>
    </ul>
  </nav>

  <div class="overlay" hidden></div>
</header>
